body {
    margin: 0;
}
.bg1 {
    background-color: #899bb4;
}

.bg2 {
    background-color: white;
    display: flex;
    padding: 0px 200px;
}




.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    padding: 10px 200px;
    color: #F9FAF8

}

.header-links {
    display: flex;
  list-style-type: none;
  gap: 10px;
  font-size: 18px;
  color: rgb(125, 209, 29);
}

a {
    text-decoration: none;
}

.upper-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0px 200px;
    
}

img {
    height: 250px;
}

.img {
    display: flex;
}
