body {
    margin: 0;
    font-family: "Roboto", "Arial", "Times New Roman";
}

.bg1 {
    background-color: #1F2937;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    padding: 10px 300px;
    color: #F9FAF8
}

.header-links {
  display: flex;
  list-style-type: none;
  gap: 20px;
  font-size: 18px;
  text-decoration: none;
}

a {
    text-decoration: none; color: #E5E7EB;
}

.upper-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 75px 300px;
}

.heromaintext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.herosecondarytext,
.herobutton {
    color: #E5E7EB;
    font-size: 18px;
}

.herobutton {
    background-color: #3882F6;
    padding: 10px 30px;
    border-radius: 10px;
    border-style: hidden;
    font-weight: bold;
}

img {
    max-height: 250px;
}

.img {
    display: flex;
    align-self: center;
}

.infoheadertext {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding: 20px;
    background-color: white;
}

.allinfopiccontainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 20px;
    background-color: white;
    padding-bottom: 100px;
}

.img4 {
    width: 175px;
    height: 175px;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

.infopic {
    text-align: center;
    padding: 10px;
    color: #1F2937;
    width: 175px;
}

.quotecontainer {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding-top: 100px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    max-width: 900px;
    margin-bottom: 0;
}

.saidquotecontainer {
    background-color: #E5E7EB;
    display: flex;
    padding-left: 1000px;
    padding-bottom: 70px;
}

.saidquote {
    font-size: 20px;
    font-weight: bolder;
    color: #1F2937;
    margin-top: 0;
}

.signupbg {
    background-color: #3882F6; 
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 50px 120px;
}

.signupheader {
    font-size: 22px;
    color: white;
    font-weight: bold;
    margin: 0;
}

.signuptext {
    font-size: 18px;
    color: white;
    margin: 0
}

.signupbutton {
    border-radius: 5px;
    padding: 5px 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    border: 2px solid
}

.left {
    display: flex;
    flex-direction: column;
}

.right {
    display: flex;
}

.footer {
    background-color: #1F2937;
    padding: 40px 0px;
}

.footertext {
    text-align: center;
    color: white;
    font-size: 18px;
}