body {
    margin: 0;
}
.bg1 {
    background-color: #1F2937;
}

.bg2 {
    background-color: white;
    display: flex;
    padding: 0px 300px;
}


.header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    padding: 10px 300px;
    color: #F9FAF8
}

.header-links {
    display: flex;
  list-style-type: none;
  gap: 10px;
  font-size: 18px;
  color: rgb(125, 209, 29);
}

a {
    text-decoration: none; color: #E5E7EB;
}

.upper-container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 75px 300px;
}

.heromaintext {
    color: #F9FAF8;
}

.herosecondarytext,
.herobutton {
    color: #E5E7EB
}

.herobutton {
    background-color: #3882F6;
    padding: 10px 20px;
}

img {
    height: 250px;
}

.img {
    display: flex;
    align-self: center;
}
